.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.60);
}

.alert-box {
    position: fixed;
    top: 40vh;
    left: 20vw;
    width: 60vw;
    z-index: 100;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(223, 14, 14, 0.8);
}

.alert-box-actions {
    text-align: right;
}
